Data Cleaning : 
1. Identify the np.NaN values, zero.
2. Find the Roadway, time interval.
3. Find the mean of those columns.
4. Replace the NaN values.

##### IMPORT PACKAGES, ASSIGN DATAFRAME

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import math

In [2]:
sns.set(style="whitegrid", color_codes=True)
plt.style.use('fivethirtyeight')

In [7]:
df = pd.read_csv("/home//aishwarya//Documents//ids_assignment//dataset//Traffic_Counts_2011-2012.csv")

In [8]:
df.shape

(3393, 31)

In [9]:
df.head()

,ID,GIS ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,1,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/09/2012,20,10,11,...,104.0,105.0,147.0,120.0,91.0,83.0,74.0,49.0,42.0,42.0
1,2,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/10/2012,21,16,8,...,102.0,98.0,133.0,131.0,95.0,73.0,70.0,63.0,42.0,35.0
2,3,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/11/2012,27,14,6,...,115.0,115.0,130.0,143.0,106.0,89.0,68.0,64.0,56.0,43.0
3,4,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/12/2012,22,7,7,...,71.0,127.0,122.0,144.0,122.0,76.0,64.0,58.0,64.0,43.0
4,5,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/13/2012,31,17,7,...,113.0,126.0,133.0,135.0,102.0,106.0,58.0,58.0,55.0,54.0

In [10]:
df.columns

Index(['ID', 'GIS ID', 'Roadway Name', 'From', 'To', 'Direction', 'Date',
       '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM', '3:00-4:00AM',
       '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM', '7:00-8:00AM',
       '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM', '11:00-12:00PM',
       '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM',
       '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM', '7:00-8:00PM',
       '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM'],
      dtype='object')

In [11]:
df.dtypes

ID                 int64
GIS ID             int64
Roadway Name      object
From              object
To                object
Direction         object
Date              object
12:00-1:00 AM      int64
1:00-2:00AM        int64
2:00-3:00AM        int64
3:00-4:00AM        int64
4:00-5:00AM        int64
5:00-6:00AM        int64
6:00-7:00AM        int64
7:00-8:00AM        int64
8:00-9:00AM        int64
9:00-10:00AM       int64
10:00-11:00AM      int64
11:00-12:00PM      int64
12:00-1:00PM     float64
1:00-2:00PM      float64
2:00-3:00PM      float64
3:00-4:00PM      float64
4:00-5:00PM      float64
5:00-6:00PM      float64
6:00-7:00PM      float64
7:00-8:00PM      float64
8:00-9:00PM      float64
9:00-10:00PM     float64
10:00-11:00PM    float64
11:00-12:00AM    float64
dtype: object

In [12]:
df[274:284]

,ID,GIS ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
274,275,122461,8 AVE,BUTLER ST,DOUGLAS ST,SB,01/13/2012,77,43,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,276,29766,NEW YORK AVE,BERGEN ST,ST MARCUS AVE,NB,01/10/2012,111,43,48,...,438.0,468.0,437.0,452.0,400.0,380.0,298.0,266.0,206.0,160.0
276,277,29766,NEW YORK AVE,BERGEN ST,ST MARCUS AVE,NB,01/11/2012,115,71,49,...,423.0,475.0,446.0,484.0,417.0,387.0,322.0,274.0,211.0,195.0
277,278,29766,NEW YORK AVE,BERGEN ST,ST MARCUS AVE,NB,01/12/2012,128,78,47,...,406.0,453.0,439.0,474.0,446.0,387.0,317.0,291.0,230.0,191.0
278,279,29766,NEW YORK AVE,BERGEN ST,ST MARCUS AVE,NB,01/13/2012,110,74,56,...,441.0,452.0,447.0,98.0,0.0,0.0,0.0,0.0,0.0,0.0
279,280,29487,QUINCY ST,CLASSON AVE,FRANKLIN AVE,EB,01/09/2012,12,8,8,...,37.0,55.0,65.0,62.0,38.0,49.0,32.0,29.0,20.0,20.0
280,281,29487,QUINCY ST,CLASSON AVE,FRANKLIN AVE,EB,01/10/2012,7,8,1,...,35.0,70.0,56.0,54.0,66.0,56.0,45.0,36.0,28.0,18.0
281,282,29487,QUINCY ST,CLASSON AVE,FRANKLIN AVE,EB,01/11/2012,12,7,7,...,49.0,53.0,57.0,66.0,47.0,42.0,35.0,37.0,19.0,25.0
282,283,29487,QUINCY ST,CLASSON AVE,FRANKLIN AVE,EB,01/12/2012,13,9,5,...,35.0,67.0,65.0,44.0,46.0,60.0,23.0,35.0,24.0,26.0
283,284,29487,QUINCY ST,CLASSON AVE,FRANKLIN AVE,EB,01/13/2012,20,10,5,...,43.0,57.0,68.0,42.0,10.0,0.0,0.0,0.0,0.0,0.0

###### TO REPLACE THE NaN, ZERO VALUES WITH MEAN OF THE STREET TRAFFIC AT THAT TIME INTERVAL:

In [15]:
def replace_NaN_Zero(x, i, index2):
    sum = 0;
    ctr = 0;
    for index, rows in df[i].iteritems():
        if(df['GIS ID'].loc[index]==x and not(np.isnan(df[i].loc[index])) and df[i].loc[index]!=0):
            sum = sum + df[i].loc[index]
            ctr = ctr+1;
    try:
        df[i].loc[index2] = int(math.ceil((sum/ctr)))
    except:
        #print("Exception : ", x)

In [ ]:
li = ['12:00-1:00 AM','1:00-2:00AM', '2:00-3:00AM','3:00-4:00AM', '4:00-5:00AM','5:00-6:00AM', '6:00-7:00AM','7:00-8:00AM',
      '8:00-9:00AM','9:00-10:00AM','10:00-11:00AM','11:00-12:00PM','12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM',
      '4:00-5:00PM', '5:00-6:00PM','6:00-7:00PM','7:00-8:00PM','8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM']
for i in li:
    for index, rows in df[i].iteritems():
        if(np.isnan(df[i].loc[index]) or df[i].loc[index]==0):
            print(df['GIS ID'].loc[index], i, index)
            replace_NaN_Zero(df['GIS ID'].loc[index], i, index)

###### TO CONVERT THE DATATYPES INTO INT32 FROM FLOAT64:

In [15]:
li = ['12:00-1:00 AM','1:00-2:00AM', '2:00-3:00AM','3:00-4:00AM', '4:00-5:00AM','5:00-6:00AM', '6:00-7:00AM','7:00-8:00AM',
      '8:00-9:00AM','9:00-10:00AM','10:00-11:00AM','11:00-12:00PM','12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM',
      '4:00-5:00PM', '5:00-6:00PM','6:00-7:00PM','7:00-8:00PM','8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM']

In [ ]:
def to_Integer(x):
    for index, rows in df[x].iteritems():
        if(not(np.isnan(df[x].loc[index]))):
            df[x].loc[index] = int(df[x].loc[index])
            
for i in li:
     to_Integer(i)

In [16]:
df[li] = df[li].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [10]:
df.dtypes

ID                int64
GIS ID            int64
Roadway Name     object
From             object
To               object
Direction        object
Date             object
12:00-1:00 AM     int32
1:00-2:00AM       int32
2:00-3:00AM       int32
3:00-4:00AM       int32
4:00-5:00AM       int32
5:00-6:00AM       int32
6:00-7:00AM       int32
7:00-8:00AM       int32
8:00-9:00AM       int32
9:00-10:00AM      int32
10:00-11:00AM     int32
11:00-12:00PM     int32
12:00-1:00PM      int32
1:00-2:00PM       int32
2:00-3:00PM       int32
3:00-4:00PM       int32
4:00-5:00PM       int32
5:00-6:00PM       int32
6:00-7:00PM       int32
7:00-8:00PM       int32
8:00-9:00PM       int32
9:00-10:00PM      int32
10:00-11:00PM     int32
11:00-12:00AM     int32
dtype: object

#### Write into a file

In [11]:
df.to_csv("Data_cleaned_2011.csv")

In [ ]:
# import string
# for index,row in df['Date'].iteritems():
#     df['Date'].loc[index] = df['Date'].loc[index].replace('-', '/')
    
# for index, rows in df['GIS ID'].iteritems():
#         if(np.isnan(df[i].loc[index]) or df[i].loc[index]==0):
#             replace_NaN_Zero(df['GIS ID'].loc[index], i, index)